<div class="container-flow jumbotron">
        <div class="row">
            <div class="col-3">
                    <h4>Añade crédito a tu cuenta</h4>
<button type="submit" class="btn btn-primary" (click)="verCredito()" routerLinkActive="active" >Ver credito</button>
</div>
<div class="col-3">
        <h4>Crea tu propio parche!</h4>
<button type="submit" class="btn btn-warning" (click)="crearParche()" routerLinkActive="active" >Crear parche</button>
</div>
<div class="col-3">
        <h4>Busca los parches activos</h4>
<button type="submit" class="btn btn-secondary" (click)="buscarParche()" routerLinkActive="active" >Buscar Parche</button>
</div>
<div class="col-3">
        <h4>Consulta tus parches activos</h4>
<button type="submit" class="btn btn-success" (click)="misParches()" routerLinkActive="active" >Mis parches</button>
</div>
</div>
</div>
